<ion-header>
  <ion-toolbar>
    <div class="container-fluid">
      <div class="row">
        <div class="col-2">
          <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
          </ion-buttons>
        </div>
        <div class="col pt-2">
          <ion-title>Profile</ion-title>
        </div>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>{{ user.email }}</p>
</ion-content>
