<ion-header>
  <ion-toolbar>
    <div class="container-fluid">
      <div class="row">
        <div class="col-2">
          <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
          </ion-buttons>
        </div>
        <div class="col pt-2">
          <ion-title>Fiche - Create</ion-title>
        </div>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="btn btn-primary">
    <ion-text routerLink="/submition" >Submition ></ion-text>
  </div>
</ion-content>
