<ion-content class="container" >
  
    <div class="row justify-content-center" >
      <div class="col-6 pb-2">
        <img src="assets/icon-whale.png" alt="icon" class="img-fluid" >
      </div>
    </div>
  
    <div class="row justify-content-center">
      <div class="col-10 col-md-4 pb-2">
        <div class="input-group">
          <span class="input-group-text">Login</span>
          <ion-input class="form-control" [(ngModel)]="user.email" placeholder="my@email"></ion-input>
        </div>
      </div>
      <div class="col-10 col-md-4 pb-2">
        <div class="input-group">
          <span class="input-group-text">Password</span>
          <ion-input class="form-control" [(ngModel)]="user.password" placeholder="Password" type="password" ></ion-input>
        </div>
      </div>
      <div class="w-100" ></div>
    </div>

    <div class="d-grid gap-2 col-10 col-md-4 mx-auto pt-5">
      <button class="btn btn-primary" (click)="logIn()" routerDirection="forward" >Login</button>
      <button class="btn btn-info" shape="round" (click)="register()" >Register</button>
    </div>


      <ion-row>
        <ion-col size="12" class="ion-text-center text-muted" >
          <ion-text routerLink="/forgotten-password" >Password forgotten</ion-text>
        </ion-col>
      </ion-row>
    

</ion-content>
