<ion-header>
  <ion-toolbar>
    <div class="container-fluid">
      <div class="row">
        <div class="col-2">
          <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
          </ion-buttons>
          <ion-menu-toggle><ion-icon name="menu-outline" size="large" ></ion-icon></ion-menu-toggle>
        </div>
        <div class="col text-center">
          <ion-title>Home</ion-title>
        </div>
        <div class="col-2">
          <div class="text-end">
            <app-deconection-btn></app-deconection-btn>
          </div>
        </div>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content id="home" >
  <app-menu></app-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
  <ion-card>
    <ion-card-header class="ion-text-center" >
      <img src="assets/icon-whale.png" alt="icon" class="login-img" >
      <ion-card-title>Welcome</ion-card-title>
      <ion-card-subtitle>Home</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-button size="small" color="warning" routerLink="/login" >Back login</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
