<ion-menu side="start" menuId="first" content-id="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-text (click)="goTo('profile')" >Profile</ion-text>
      </ion-item>
      <ion-item>
        <ion-text (click)="goTo('favoris')" >Favoris</ion-text>
      </ion-item>
      <ion-item>
        <ion-text (click)="goTo('details')" >Fiche - details</ion-text>
      </ion-item>
      <ion-item>
        <ion-text (click)="goTo('create')" >Fiche - create</ion-text>
      </ion-item>
      <ion-item>
        <ion-text (click)="goTo('login')" >Login</ion-text>
      </ion-item>
      <ion-item>
        <ion-text (click)="goTo('forgotten-password')" >Forgot password</ion-text>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>