<ion-header>
  <ion-toolbar>
    <div class="container-fluid">
      <div class="row">
        <div class="col-2">
          <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
          </ion-buttons>
        </div>
        <div class="col pt-2">
          <ion-title>Forgot - Password</ion-title>
        </div>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input [(ngModel)]="user.email" placeholder="User@Email"></ion-input>
  </ion-item>
  <br/>
  <ion-button expand="block" (click)="resetPassword()" >ResetPassword</ion-button>
</ion-content>
